# Dependencies
node_modules/

# Production output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Generated OpenAPI files & scratch files
sigrex_patched.json
debug_refs.js

# OS files
.DS_Store
Thumbs.db

# Editor configurations & IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.npmrc